input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.head {
  width: 70vw;
  margin: auto;
  margin-bottom: 2rem;
}

.table-main {
  overflow: scroll;
  border: 1px solid black;
}

.JobQueueTableTr th {
  border: 1px solid black;
  padding: 0.5rem;
}

.JobQueueTableTr td {
  border: 1px solid black;
  padding: 0.5rem;
  width: 20vw;
}

.containers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  padding-top: 1rem;
  padding-left: 2rem;
  width: 100%;
}

.top-row {
  display: flex;
  margin-left: 27px;
  /* Adjust according to the size of the timing marks */
}

.top {
  height: 37px;
}

.corner {
  width: 0px;
  /* Space for the row numbers on the left */
}

.top-num {
  margin-right: 0.06rem;
}

.top-num,
.left-num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 0.7rem;
}

.grid {
  display: flex;
  flex-direction: column;
  position: relative;
}

.row {
  display: flex;
}

/* .circle {
    width: 17px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 2px;
} */

.left-num {
  /* margin-bottom: 0.6rem; */
  padding-top: 3px;
  width: 30px;
  /* Enough space to fit the timing mark and number */
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
  /* Space before the grid starts */

  width: 20px;
  height: 20px;
  font-size: 0.4rem;
  margin-left: 0.9rem;
}

.left-nums {
  height: 20px;
  font-size: 0.6rem;
  width: 30px;
  /* Enough space to fit the timing mark and number */
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
  /* padding-top: px; */
  /* Space before the grid starts */
}

.timing-mark {
  width: 1.2rem;
  height: 0.5rem;
  background-color: black;
  align-self: start;
}

.rectangle {
  width: 17px;
  height: 9px;
  border: 1px solid black;
  /* border-radius: 50%; */
  margin: 2px;
  cursor: pointer;
  /* Indicates that the item is clickable */
}
.rounded-rectangle {
  width: 17px;
  height: 9px;
  border: 1px solid black;
  border-radius: 1px;
  margin: 2px;
  cursor: pointer;
  /* Indicates that the item is clickable */
}
.circle {
  width: 17px;
  height: 17px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
}
.oval {
  width: 17px;
  height: 14px;
  border: 1px solid black;
  border-radius: 75%;
  margin: 2px;
  cursor: pointer;
}
.circle.selected {
  background-color: blue;
  /* Change color as needed to indicate selection */
}
.field-label {
  cursor: pointer;
}
