input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.head {
    width: 70vw;
    margin: auto;
}

.table-main {
    overflow: scroll;
    border: 1px solid black;

}

.JobQueueTableTr th {
    border: 1px solid black;
    padding: 0.5rem;
}

.JobQueueTableTr td {
    border: 1px solid black;
    padding: 0.5rem;
}